html, body {
  height: 94%;
   margin: 0;
   padding: 0;
   font:13px Arial,Helvetica,sans-serif;
 }
#map {
  height: 100%;
  width:100%;
  z-index:0;
}
#header{
    height:50px;
    position:fixed;
    z-index:1;
    width:100%;
    border-style:solid;
    border-width: 3px;
    border-color: #0D4EB2;
    background-color: #4285F4;
}

#logo{
  margin-left:10px;
  height: 46px;
  width:140px;
  border: 2px solid yellow;
  float:left;
}

.menu_button{
  margin-left:20px;
  margin-top:7px;
  height:30px;
  padding:5px;
  padding-bottom:0px;
  float:left;
  color:#FDED26;
  font-family:sans-serif;
  font-size: 16pt;
  border: 2px solid yellow;
  border-radius: 10px;
}

.menu_button:hover{
  color:#FD9426;
  border: 3px solid #FD9426;
}

#filters_block{
  width:200px;
  border: 3px solid green;
  margin-left: 215px;
  margin-top:56px;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
}

.filter_button{
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom: 3px;
  height:30px;
  border: 2px solid red;
  background-color: rgb(247,247,156);
}

.filter_button:hover{
  background-color: rgb(247,247,44);
}

#filter_submit_btn{
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom: 3px;
  height:30px;
  text-align: center;
  border: 2px solid red;
  background-color: rgb(116,255,128);
}

#filter_submit_btn:hover{
  background-color: rgb(0,255,30);
  font-weight: bold;
}

#filter_submit{
  width:100%;
  height: 30px;
  border-radius: 10px;
}

form{
  margin-bottom: 0;
}

#event_block{
  position:absolute;
  right:50px;
  border:2px solid red;
  top:100px;
  width:300px;
  height: 500px;
  font:13px Arial,Helvetica,sans-serif;
  background-color: #fff;

}

#event_name{
  /*font-size: 18px;
  line-height: 24px;
  padding: 12px 0 8px;
  color: #333;
  padding-left:5px;
  padding-right:5px;*/
}

#event_address{
  padding-bottom: 5px;
  font-size:15px;
  color: #999;

}

#event_date{

  color: #333;
  padding-bottom: 5px;

}

#event_price{
  color: #333;
  padding-bottom: 5px;
}

#event_description{
  color: #333;
  padding-bottom: 5px;
}

#event_block_wrapper{
  width:600px;
  position: absolute;
  right:-200px;
  top:100px;
  display: none;
}

#event_image_block{
  height:300px;
  overflow: hidden;
}

#event_image{
  margin-top: -50px;
}

#top_block{
  width:300px;
  position:absolute;
  left:10px;
  top:60px;
  display:none;
}

#nav-mobile{
  margin-left:120px;
}

.brand-logo{
  margin-left:10px;
}

.nav-wrapper{
  background-color: rgb(42,128,185);
}

.row .col.s6{
  width:100% !important;
}

#add_submit_btn{
  left:32%;
}

#add_block{
  width:1000px;
  position:absolute;
  left:200px;
  top:60px;
  display: none;
}
